---
import Section from '@/components/Section.astro';
import { Icon } from 'astro-icon/components';

import { getCollection, getEntry } from 'astro:content';
const cv = await getEntry('cv', `${Astro.currentLocale}/cv`);
//const cv = await getCollection('cv', Astro.currentLocale);
const basics = cv?.data.basics;
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{basics?.name}</h1>
            <h2>{basics?.label}</h2>
            <span>
                <!-- TODO Map icon -->
                {basics?.location.city}, {basics?.location.region}
            </span>
            <footer>
                <div class="print">
                    {basics?.email} - {basics?.phone}
                </div>
            </footer>
            <footer class="no-print">
                <!-- TODO profiles icons -->
                {
                    basics?.email && (
                        <a href={`mailto:${basics?.email}`} title="Send mail to:" target="_blank" rel="noopener noreferrer">
                            <Icon name="email-icon" />
                        </a>
                    )
                }
                {
                    basics?.phone && (
                        <a href={`tel:${basics?.phone}`} title="Call to:" target="_blank" rel="noopener noreferrer">
                            <Icon name="phone-icon" />
                        </a>
                    )
                }
                {
                    basics?.profiles.map(profile => (
                        <a href={profile.url} title={profile.username} target="_blank" rel="noopener noreferrer">
                            <Icon name=`${profile.network}-icon` />
                        </a>
                    ))
                }
            </footer>            

        </div>
        <figure>
            <img src={basics?.image} alt={basics?.name}>
        </figure>
    </div>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 32px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        color: #444444;
        font-weight: 500;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 6px;
        width: 128px;
    }

    span {
        color: #666666;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.85rem;
        letter-spacing: -0.05rem;
    }

    footer {
        display: flex;
        gap: 4px;
        margin-top: 8px;
    }

    footer a {
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 4px;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        transition: all 0.3s ease;
    }

    footer a:hover {
        background: #eee;
    }
</style>